<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCp8UfppClQb4pvo8TLx1GbJD-AXl-uOq4</string>
	<key>GCM_SENDER_ID</key>
	<string>279398267272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practical10.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mu-test-892b0</string>
	<key>STORAGE_BUCKET</key>
	<string>mu-test-892b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279398267272:ios:24a787dab512375dc6223d</string>
</dict>
</plist>